<div class="row justify-content-evenly mb-4">
    <div class="col-4 ">
        <a href="/admin/driver">
            <div class="card bg-primary p-3 d-flex justify-content-center align-items-center" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text text-light text-center">Driver Data</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-4">
        <a href="/admin/customer">
            <div class="card bg-primary p-3 d-flex justify-content-center align-items-center" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text text-light text-center">Customer Data</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-4">
        <a href="/admin/feedback">
            <div class="card bg-primary p-3 d-flex justify-content-center align-items-center" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text text-light text-center">Feedback</p>
                </div>
            </div>
        </a>
    </div>
</div>