
<h3>Welcome to </h3>
<h2>Taxi Booking System</h2>
<img src="https://raw.githubusercontent.com/Virendra-khorwal/taxi-management/master/images/home-page-min.jpg?token=AMWVLI5UKG4XFCL2DDE4DLTBO5QHW" class="img-fluid" alt="Home Page">


<div class="row justify-content-evenly mb-4">
    <div class="col-4 ">
        <a href="/admin">
            <div class="card bg-primary p-3 d-flex justify-content-center align-items-center" style="width: 18rem;">
                <i class="bi bi-person-video3 fs-1 text-white"></i>
                <div class="card-body">
                    <p class="card-text text-light text-center ">Admin Panel</p>
                </div>
            </div>
        </a>
    </div>
    
    <div class="col-4">
        <a href="/booking">
            <div class="card bg-primary p-3 d-flex justify-content-center align-items-center" style="width: 18rem;">
                <i class="bi bi-calendar2-check-fill fs-1 text-white"></i>
                <div class="card-body">
                    <p class="card-text text-light text-center">Booking Panel</p>
                </div>
            </div>
        </a>
    </div>
</div>